@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="text-center"><h1 class="display-4" style="font-weight:bold">Bem vindo ao CtrlP </h1>
    
    <h2>Controle, Operação e Diagnósticos em Tempo Real para a Tocha de Plasma</h2>
    <p>Escolha uma das opções abaixo:</p>

    <div class="box"><a class="box-content" asp-page="Medidores"><p><br>Medidores<br><br></p></a></div>
    <div class="box"><a class="box-content" asp-page="Experimentos"><p><br>Experimentos<br><br></p></a></div>
    <div class="box"><a class="box-content" asp-page="Grandezas"><p>Unidades<br>de<br>Medida</p></a></div>
    <div class="box"><a class="box-content" asp-page="ReadyGo"><p>Tudo Pronto?<br>Então<br>Vamos lá</p></a></div>
</div>
