@page
@model MedidorModel
@{
    ViewData["Title"] = "Gerenciar Medidores";
}

<div class="text-center">
    <div class="text-center"><h1 class="display-4" style="font-weight:bold">Medidores</h1>
    
    <h2>Visualize, Edite e Adicione Medidores</h2>
    <p>Medidores Detectados</p>
    Aqui vem a lista de medidores detectados na resde, a rotina deve ser criada em Medidor.cshtml.cs
</div>
