@page "{handler?}"
@model DetailsModel
@{
    ViewData["Title"] = DetailsModel.Page_Title;
}

@{
    Layout = "_Layout";
}
<h2>Detalhes do Experimento: </h2>  
<hr />  
<div class="row">  
    <div class="col-md-4">  
        <form method="post">  
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
            <input type="hidden" asp-for="experimento.IdExperimento" />  
            <div class="form-group">  
                <label asp-for="experimento.JsonDateIni" class="control-label">Data In&iacute;cio:</label>  
                <input asp-for="experimento.JsonDateIni" class="form-control" type="datetime-local" />  
                <span asp-validation-for="experimento.JsonDateIni" class="text-danger"></span>  
            </div>  
            <div class="form-group">  
                <label asp-for="experimento.JsonDateFim" class="control-label">Data Fim:</label>  
                <input asp-for="experimento.JsonDateFim" class="form-control" type="datetime-local"/>  
                <span asp-validation-for="experimento.JsonDateFim" class="text-danger"></span>  
            </div>  
            <div class="form-group">  
                <label asp-for="experimento.Descricao" class="control-label">Descri&ccedil;&atilde;o:</label>  
                <textarea asp-for="experimento.Descricao" class="form-control" ></textarea>
                <span asp-validation-for="experimento.Descricao" class="text-danger"></span>  
            </div>  
            <div class="form-group">  
                <label class="control-label">Quantidade de Dados Obtidos:</label>  
                @{var prod = (int) ViewData["quantidadeDados"];} 
                @prod
            </div>   
        </form>  
    </div>  
</div>  
<div>  
    <a asp-page="../experimentos">Voltar a Lista</a>  
</div>  
@section Scripts {  
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}  
} 