@page "{handler?}"
@model EditModel
@{
    ViewData["Title"] = EditModel.Page_Title;
}
<h2>Editar Grandeza: </h2>  
<hr />  
<div class="row">  
    <div class="col-md-4">  
        <form method="post">  
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
            <input type="hidden" asp-for="grandeza.IdGrandeza" />  
            <div class="form-group">  
                <label asp-for="grandeza.Descricao" class="control-label">Unidade de Medida:</label>  
                <input asp-for="grandeza.Descricao" class="form-control" />  
                <span asp-validation-for="grandeza.Descricao" class="text-danger"></span>  
            </div>  
            <div class="form-group">  
                <input type="submit" value="Salvar" class="btn btn-default" />  
            </div>  
        </form>  
    </div>  
</div>  
<div>  
    <a asp-page="../grandezas">Cancelar</a>  
</div>  
@section Scripts {  
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}  
} 